@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #FFBB8D ;
}

.container{
    position: relative;
}

.container .card{
    position: relative;
    width: 320px;
    height: 450px;
    background: antiquewhite;
    border-radius: 20px;
    overflow: hidden;
}
img{
    width: 100%;
}

.container .card:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #93D9FF ;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;

}

.container .card:hover:before{
    clip-path: circle(300px at 80% 20%);
}

.container .card:after{
    content: 'New Balance';
    position: absolute;
    top: 40%;
    left: -1%;
    font-size: 3em;
    font-weight: 800;
    font-style: italic;
    color: rgba(249, 243, 235, 0.8);
}

.container .card .imgBx{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100000;
    width: 100%;
    height: 220px;
    transition: 0.5s;
}

.container .card:hover .imgBx{
    top: 0%;
    transform: translateY(0%);
}

.container .card .imgBx img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
    width: 270px;
}
.container .card .contenteBx{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}
.container .card:hover .contenteBx{
    height: 210px;
}
.container .card .contenteBx h2{
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #0E4B6F;
}

.container .card .contenteBx .size,
.container .card .contenteBx .color{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.container .card:hover .contenteBx .size{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s ;

}
.container .card:hover .contenteBx .color{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s ;

}


.container .card .contenteBx .size h3,
.container .card .contenteBx .color h3{
    color: #0E4B6F;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.container .card .contenteBx .size span{
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0 5px;
    transition: 0.5s;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
}

.container .card .contenteBx .size span:hover{
    background: #0E4B6F;
    color: #fff;
}
.container .card .contenteBx .color span{
    width: 20px;
    height: 20px;
    background: #111;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.container .card .contenteBx .color span:nth-child(2){
    background: #FFBB8D;
}


.container .card .contenteBx .color span:nth-child(3){
    background: #0E4B6F;
}


.container .card .contenteBx .color span:nth-child(4){
    background: #8C031B;
}
.container .card .contenteBx a{
    display: inline-block;
    padding: 10px 20px;
    background: #fff ;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #0E4B6F;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
}
.container .card .contenteBx a:hover{
    background: #0E4B6F;
    color: #fff;

}
.container .card:hover .contenteBx a{
    opacity: 1;
    transform: translateY(0px);
}





